body {
  margin: 0;
  background-color: #fff;
}

.header {
  text-align: center;
  font-size: 2rem;
  animation: secs 4s ease-in-out infinite;
}

.bhee img {
  width: 100%;
}

@keyframes secs {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
